spring:
  application:
    name: eureka-service-invoker

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/


server:
  port: 9001
  servlet:
    context-path: /invoker